.container {
  padding: 0 0rem;
}

.main {
  min-height: 100vh;
  padding:  0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  color: #fafafa;
}

