.container {
  padding: 0 0rem;
}

.main {
  min-height: 100vh;
  padding:  0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  color: #fafafa;
}

.inputs {
  display: flex;
  justify-content: space-around;
  padding-left: 70px;
}

.inputs > button {
  margin-left: 10px;
}